[submodule "external/pico-sdk"]
	path = external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "external/external/pico-sdk"]
	path = external/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
