/{
		aliases{
				rand-gen = &trng;
				eng-spi = &lpspi3;
				out = &out;
				in = &in;
		};

		chosen {

        zephyr,console = &lpuart6;

    };

		user
		{
				compatible = "gpio-leds";
				out: out-pin{
						gpios = <&gpio2 17 GPIO_ACTIVE_HIGH>;
						label = "my pin";
				};

				in: in-pin{
						gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
						label = "my in pin";
				};
		};
};

&lpspi3{
		status = "okay";

		cs-gpios = <&gpio1 28 GPIO_ACTIVE_LOW>;

		engine-management-spi@0{
				reg = <0>;
		};

};

&pinmux_lpspi3{
		status = "okay";
};

&gpio1{
		status = "okay";
};

&gpio2{
		status = "okay";
};

&trng{
		status = "okay";
};

/* Ethernet */
&enet {
		status = "disabled";
};

&enet_mac {
		status = "disabled";
};

&enet_mdio {
		status = "disabled";
};
